.calendar-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    color: white;
    background-color: #121212;
  }
  
  .google-calendar-container {
    flex-grow: 1; /* This will make sure the container takes up all available space */
  }

  .title {
    text-align: center;
    padding: 20px 0;
    color: white;
  }
  